.footer{
    background: var(--gray-700);
    display: flex;
    flex-direction: column;
}

.part1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.part2{
    display: flex;
    justify-content: center;
    margin: 0 2.5rem;
    padding: 1rem;
    border-top: 2px solid var(--purple-200);
    color: var(--gray-200);
    p{
        font-size: 1rem;
    }
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.company{
    display: flex;
    align-items: center;
    font-family: 'orbitron', sans-serif;
    img{
        height: 7rem;
    }
}

.ul{
    display: flex;
    align-items: center;
    list-style: none;
}

.li{
    padding: 1rem;
}

.whatsappIcon {
    color: #25D366; 
  }
  
  .instagramIcon {
    color: #E4405F; 
  }
  
  .githubIcon {
    color: #333; 
  }

  .arrowUpIcon{
    color: var(--gray-500);
    font-size: 2rem;
    padding: 5px;
    border-radius: 7px;
    background-color: var(--gray-100);
    position: relative;
    bottom: 3.5rem; 
    margin: 0 auto;
    display: block;
    z-index: 1000;
    width: 50px;

    transition: scale 0.2s ease, 
                background-color 0.2s ease;
  }

  .arrowUpIcon:hover{
    color: var(--gray-500);
    scale: 1.2;
    cursor: pointer;
    transition: scale 0.2s ease;
    background-color: white;

  }

.whatsappIcon,
.instagramIcon,
.githubIcon{
    transition: scale 0.2s ease, 
                background-color 0.2s ease;
    font-size: 1.25rem;
}

.whatsappIcon:hover, 
.instagramIcon:hover, 
.githubIcon:hover {
    scale: 1.2;
    color: white;
    cursor: pointer;
}
  