.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    position: absolute;
    width: 100%;
}

.enterpriseDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    font-family: "orbitron";
}

.header img{
    height: 10rem;
}