.header{
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    justify-content: space-between;
    padding: 0 1rem;
    position: absolute;
    width: 100%;
}

.enterpriseDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    font-family: "orbitron", sans-serif;
}

.header img{
    height: 10rem;
}

@media (max-width: 768px){
    .header{
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        justify-content: space-between;
        padding: 0 0.5rem;
        position: absolute;
    }
    
    .enterpriseDiv{
        height: 7rem;
    }
    
    .header img{
        height: 5rem;
    }
}