.content {
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    padding: 10rem 5rem;
  }

  .titleContent {
    font-size: 2rem;
  }
  
  .pContent{
    margin: 2rem;
    width: 50%;
    border-radius: 8px;
    padding: 0.875rem;
    
  }
  