:root {
    --gray-100: #dcd6e1;
    --gray-200: #b2a7c7;
    --gray-300: #7e7293;
    --gray-400: #63587e;
    --gray-500: #4d4264;
    --gray-600: #38304b;
    --gray-700: #252135;
  
    --purple-100: #a97cdd;
    --purple-200: #6b2fa0;
  
    --text-color: #ffffff;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    color: whitesmoke;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
  }
  
  p, strong {
    line-height: 1.6;
  }

  body::-webkit-scrollbar {
    display: none;
  }